<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gcart.android.mralgon"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <activity
            android:name="com.gcart.android.mralgon.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:label="@string/app_name"
            android:name="com.gcart.android.mralgon.RegisterScreen" >
        </activity>

        <activity
            android:label="@string/app_name"
            android:name="com.gcart.android.mralgon.OrderEceran" >
        </activity>
        
        <activity
            android:label="@string/app_name"
            android:name="com.gcart.android.mralgon.CaraOrderScreen" >
        </activity>
        
        <activity
            android:label="@string/app_name"
            android:name="com.gcart.android.mralgon.ResiList" >
        </activity>

        <activity
            android:label="@string/app_name"
            android:name="com.gcart.android.mralgon.Province" >
        </activity>

        <activity
            android:label="@string/app_name"
            android:name="com.gcart.android.mralgon.ServiceEksScreen" >
        </activity>
        
        <activity
            android:label="@string/app_name"
            android:name="com.gcart.android.mralgon.ResiDetail" >
        </activity>
        
        <activity
            android:label="@string/app_name"
            android:name="com.gcart.android.mralgon.PromoList" >
        </activity>
        
        <activity
            android:label="@string/app_name"
            android:name="com.gcart.android.mralgon.HomeScreen" >
        </activity>
        
        <activity
            android:label="@string/app_name"
            android:name="com.gcart.android.mralgon.ContactScreen" >
        </activity>

        <activity
            android:label="@string/app_name"
            android:name="com.gcart.android.mralgon.OrderScreen" >
        </activity>
         <activity
            android:label="@string/app_name"
            android:name="com.gcart.android.mralgon.ProductList" >
        </activity>
         <activity
            android:label="@string/app_name"
            android:name="com.gcart.android.mralgon.ProductDetail" >
        </activity>
         <activity
            android:label="@string/app_name"
            android:name="com.gcart.android.mralgon.PaymentScreen" >
        </activity>
         <activity
            android:label="@string/app_name"
            android:name="com.gcart.android.mralgon.PaymentScreenPO" >
        </activity>
         <activity
            android:label="@string/app_name"
            android:name="com.gcart.android.mralgon.PaymentScreen2" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="com.gcart.android.mralgon.PaymentScreen2Titip" >
        </activity>
         <activity
            android:label="@string/app_name"
            android:name="com.gcart.android.mralgon.PaymentScreen3" >
        </activity>
         <activity
            android:label="@string/app_name"
            android:name="com.gcart.android.mralgon.PaymentScreen3History" >
        </activity>
         <activity
            android:label="@string/app_name"
            android:name="com.gcart.android.mralgon.JNEScreen" >
        </activity>
         <activity
            android:label="@string/app_name"
            android:name="com.gcart.android.mralgon.JNEScreen2" >
        </activity>
         <activity
            android:label="@string/app_name"
            android:name="com.gcart.android.mralgon.JNEScreen4" >
        </activity>
         <activity
            android:label="@string/app_name"
            android:name="com.gcart.android.mralgon.JNEScreen3" >
        </activity>
        
         
         <activity
            android:label="@string/app_name"
            android:name="com.gcart.android.mralgon.JNTScreen" >
        </activity>
         <activity
            android:label="@string/app_name"
            android:name="com.gcart.android.mralgon.JNTScreen2" >
        </activity>
         <activity
            android:label="@string/app_name"
            android:name="com.gcart.android.mralgon.JNTScreen4" >
        </activity>
         <activity
            android:label="@string/app_name"
            android:name="com.gcart.android.mralgon.JNTScreen3" >
        </activity>
        
         
        <activity
            android:label="@string/app_name"
            android:name="com.gcart.android.mralgon.PaymentNotaScreen" >
        </activity>
         <activity
            android:label="@string/app_name"
            android:name="com.gcart.android.mralgon.PaymentHistoryNotaScreen" >
        </activity>
    </application>

</manifest>
